html{
	height: 100%;
}

body{
	height: 100%;
	padding-top: 55.6px;
}

#rightPane {
	border-left: #aa9d9d;
    border-left-style: solid;
    border-left-width: 2px;
    z-index: 99;
    box-shadow: -16px 2px 46px -22px rgb(0 0 0 / 73%);
    -webkit-box-shadow: -16px 2px 46px -22px rgb(0 0 0 / 73%);
    -moz-box-shadow: -16px 2px 46px -22px rgba(0,0,0,0.73);
}

#leftPane{
	padding-right: 0px;
    z-index: 0;
}

#treeImg{
	width: 240px;
	margin: auto;
	z-index: 102;
}

#map{
	height: 100%;
    width: 100%;
}

#treeSrc{
	max-width: 100%;
 	object-fit: contain;
}

.hide{
	display: none;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.lightense-backdrop{
	z-index: 1 !important;
}